/* ----------
    GENERAL 
   ---------- */

   *
   {
    margin: 0;
    padding: 0px;
    font-family: "arial" , sans-serif;
    box-sizing: border-box;
   }

   body
   {
    min-height: 100vh;
    margin: 0;
   }



/* ----------
    NAVBAR
   ---------- */

   nav ul
   {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   }

   nav ul
   {
    list-style-type: none;
   }

   nav ul li
   {
    display: inline;
    margin-right: 30px;
   }

   nav ul li a
   {
    color: #0E0C0E;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
   }

   #language
   {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #e1dfe0a8;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
   }

   nav a:hover
   {
    color: #5b0077;
    border-top: 5px solid #5b0077;
    padding-top: 22px;
   }



   /* ----------
    HEADER
   ---------- */

   .main-header
   {
    background:url('../images/bg.jpg') fixed center/cover;
    text-align: center;
    padding: 100px;
    height: 77vh;
   }

   header h1
   {
    color: white;
    padding: 25px;
   }

   header button
   {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
   }

   .fa-angle-right
   {
    padding-left: 20px;
   }

   .header-text p
   {
    padding-top: 50px;
    font-weight: bolder;
    text-align: center;
    height: 150px;
    width: 100%;
    font-size: 1.1em;
   }


    /* ----------
    SECTION ICON
   ---------- */

   .icon-part
   {
    background: rgb(29, 29, 29);
   }